<% flash.each do |type, msg| %>
  <% base = "mb-4 rounded-lg px-4 py-3 text-sm" %>
  <% cls =
       case type.to_sym
       when :notice then "bg-green-50 text-green-800 ring-1 ring-green-200"
       when :alert  then "bg-yellow-50 text-yellow-800 ring-1 ring-yellow-200"
       else              "bg-blue-50 text-blue-800 ring-1 ring-blue-200"
       end %>
  <div class="<%= "#{base} #{cls}" %>"><%= msg %></div>
<% end %>
